* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.699)),
    url(bg.jpg);
  /*background-image: url(bg.jpg);*/
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.btn1 {
  padding-top: 40px;
}

.display-box {
  padding-top: 80px;
}

.display-box .dis {
  font-size: 1200%;
  font-weight: 500;
  color: #ff8c00;
}

.title {
  font-size: 400%;
  font-weight: 500;
  color: #e92f2f;
  padding-left: 270px;
}
